<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Temiz Getir {% if page_title is defined %} | {{ page_title }} {% endif %} </title>

    <link rel="icon" href="/assets/img/icons/logo.webp">

    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom/index.css">
    <link rel="stylesheet" href="/assets/css/framework/googlefonts.css">
    <link rel="stylesheet" href="/assets/css/framework/style.css">

    <script src="/assets/js/bootstrap/bootstrap.min.js" charset="utf-8"></script>
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js" charset="utf-8"></script>

    <script src="/assets/js/custom/functions.js" charset="utf-8"></script>
</head> 
<body>

<nav class="bg-light pt-30 pb-30 text-center">
    <div class="container px-xl-0">
        <div class="row justify-content-center align-items-center f-16">
            <div class="mb-20 mb-lg-0 col-lg-3 text-lg-left">
                <a href="{{ path("home") }}" class="logo link-info">Temiz Getir</a>
                <a href="#" class="link-info color-main mx-15">Blog</a>
            </div>

            <div class="col-lg-6">
            </div>

            <div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    {% if is_granted("ROLE_PROVIDER") %}
                        <a href="#" class="btn bg-info sm action-2 f-16">Servislerim</a>
                    {% endif %}

                    <div class="dropdown">
                        <button class="btn bg-info sm action-2 f-16" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.name }}
                            <img class="w-10" src="/assets/img/icons/fa-angle-down-white.png">
                        </button>
                        <ul class="radius10 pt-10 pb-10 dropdown-menu dropdown-menu-end bg-gray" aria-labelledby="dropdownMenuButton">
                            <li><a href="{{ path("settings") }}" class="dropdown-item">Settings</a></li>
                            <li><a href="{{ path("logout") }}" class="dropdown-item">Logout</a></li>
                        </ul>
                    </div>

                {% else %}
                    <a href="{{ path("login") }}" class="mr-20 link-info color-main">Giriş Yap</a>
                    <a href="{{ path("signup_customer") }}" class="btn bg-info sm action-2 f-16">Kayit Ol</a>
                {% endif %}

            </div>
        </div>
    </div>
</nav>
