<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Temiz Getir {% if page_title is defined %} | {{ page_title }} {% endif %} </title>

    <link rel="icon" href="/img/icons/logo.webp">

    <link rel="stylesheet" href="/style/root.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/service.css">
    <link rel="stylesheet" href="/style/card.css">
    <link rel="stylesheet" href="/style/info.css">
    <link rel="stylesheet" href="/style/page.css">
    <link rel="stylesheet" href="/style/dropdown.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/footer.css">
    <link rel="stylesheet" href="/style/media_query.css">

    <script src="/script/functions.js" charset="utf-8"></script>
</head>
<body>
    <header class="header-main">
        <a href="{{ path("home") }}" class="header-item">
            <img class="header-logo" src="/img/icons/logo.webp">
        </a>

        <a class="header-item" href="{{ path("home") }}"> Temiz Getir </a>

        <div class="float-right">
            {% if app.user %}
                <a class="header-item" href="{{ path("logout") }}"> Logout </a>
            {% else %}
                <a class="header-item" href="{{ path("login_choice") }}"> Login </a>
                <a class="header-item" href="{{ path("signup_choice") }}"> Signup </a>
            {% endif %}

            <div class="dropdown" tabindex="0">
                <div class="dropdown-btn header-item">•••</div>
                <ul class="dropdown-cont position-right">
                    <a href="{{ path("settings") }}"> <li class="dropdown-item"> Settings </li> </a>
                    <a href="{{ path("about") }}"> <li class="dropdown-item"> About </li> </a>
                    <a href="{{ path("contact") }}"> <li class="dropdown-item"> Contact </li> </a>
                </ul>
            </div>
        </div>
    </header>

    <main class="main-main">
