{% include "location/location_select_forms.html.twig" %}

<section class="form_1 pt-120 pb-120">
    <div class="container px-xl-0">
        
        <form id="provider_signup_request_form" class="bg-light mx-auto mw-600 radius10 pt-40 px-50 pb-30" action="{{ path("signup_request_provider_init") }}" method="POST">
            <h2 class="mb-40 small text-center">İş Hesabı Yarat</h2>
            
            <div id="provider_signup_request_error" class="mb-25 mt-25 f-18 medium text-warning text-center"></div>
            
            {% include "layouts/success.html.twig" %}

            <div class="mb-20">
                <input name="name" placeholder="İsim Soyisim" pattern="^[a-zA-Z\s]{1,25}$" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <input type="email" name="email" placeholder="Email" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <input name="phone" placeholder="Cep Telefonu (Örnek: +90 555 888 11 11)" pattern="^\+\d{1,5}\s\d{3}\s\d{3}\s\d{2}\s\d{2}$" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <input name="phone-business" placeholder="İşletme Telefon Numarası (Örnek: +90 555 888 11 11)" pattern="^\+\d{1,5}\s\d{3}\s\d{3}\s\d{2}\s\d{2}$" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <select id="country-select" class="input border-gray color-heading placeholder-heading w-full" name="country-id" required>
                    <option value="" selected>(Ülke)</option>
                    {% for country in countries %}
                        <option value="{{ country.getId() }}">{{ country.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="city-select-cont" class="mb-20"></div>
            <div id="province-select-cont" class="mb-20"></div>
            
            <div class="mb-20">
                <input name="address" placeholder="Adres" pattern="^.{1,125}$" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <input type="password" name="password" placeholder="Şifre" class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <input type="password" name="password-repeat" placeholder="Şifre tekrar" required class="input border-gray color-heading placeholder-heading w-full" />
            </div>

            <div class="mb-20">
                <select name="supply-amount" class="input border-gray color-heading placeholder-heading w-full" required>
                    <option value="" selected>Kaç Çeşit Ürün Satıyorsunuz?</option>
                    <option value="1">0-50</option>
                    <option value="2">50-100</option>
                    <option value="3">100-200</option>
                    <option value="4">200-300</option>
                    <option value="5">300-400</option>
                    <option value="6">400-500</option>
                    <option value="7">500-1000</option>
                    <option value="8">1000+</option>
                </select>
            </div>

            <div class="mb-20">
                <select name="computer-available" class="input border-gray color-heading placeholder-heading w-full" required>
                    <option value="" selected>İş yerinizde bilgisayarınız var mı?</option>
                    <option value="1">Evet</option>
                    <option value="0">Hayır</option>
                </select>
            </div>

            <div class="mb-20">
                <select name="delivery-available" class="input border-gray color-heading placeholder-heading w-full" required>
                    <option value="" selected>Paket servisiniz var mı?</option>
                    <option value="1">Evet</option>
                    <option value="0">Hayır</option>
                </select>
            </div>

            <input type="hidden" name="user-role" value="ROLE_PROVIDER">
            <input type="hidden" name="csrf-token" value="{{ csrf_token("csrf-token") }}"/>
            
            <button class="mt-25 btn bg-info action-1 w-full">Üye Ol</button>

            <div class="mt-50 hr bg-gray h-1"></div>

            <div class="mt-25 f-18 medium color-heading text-center">
                Hesabınız var mı? <a href="{{ path("login") }}" class="link-info">Giriş Yap</a>
            </div>
        </form>

    </div>
</section>
